:root {
  --primary: #B0E1A2;
  --secondary: #cbf5af;
  --tertiary: #d10505bb;
  --quaternary: #fbffdd;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}


body {
  font-size: 20px;
  background-color: var(--quaternary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-sorteio {
  background-color: var(--primary);
  box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.1);
  margin: 3rem auto 0;
  padding: 1rem;
  border-radius: 10px;
}

#container-sorteio h2 {
  font-size: 2em;
  color: black;
  border-bottom: 1px solid var(--quaternary);
  text-align: center;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  transition: .4s;
  color: black;
  background-color: var(--secondary);
}

button:hover {
  color: #FDFDFD;
  background-color: var(--tertiary);
  cursor: pointer;
  transition: 0.4s;
}

.sorteio-actions {
  display: flex;
  justify-content: center;
}

.sorteados-group {
  display: flex;
  flex-direction: row;
  line-height: 35px;
  text-align: center;
  margin: 20px 40px;
  padding: 2rem;
}

.sorteados-group ul {
  margin-bottom: 20px;
  padding: 8px;
  font-size: 1.5rem;
  margin-right: 30px;
  background-color: var(--secondary);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

.sorteados-group ol {
  font-size: 1em;
  margin-right: 30px;
  border-bottom: 1px solid var(--quaternary);
}